@use '../../scss/variables.styles' as *;

.section5 {
    width: 100%;
    min-height: 500px;
    background-image: $black-linear-gradiant;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}