//Colors
$light-blue: #0EA3EE;

//Sizes
$section-title-font-size: 75px;

//Gradiants
$black-linear-gradiant: linear-gradient(133deg,#313132,#161618);

//Filters
$white-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(318deg) brightness(107%) contrast(101%);