@use '../../scss/variables.styles' as *;

.section3 {
    width: 100%;
    min-height: 500px;
    background-image: $black-linear-gradiant;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    .image-text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 196px 0 245px;
        gap: 78px;

        .image-text-container_image {
            width: 667px;
            height: 691px;
            object-fit: cover;
        }

        .image-text-container_text {
            font-size: 75px;
            color: #fff;
        }
    }

    .buy-now-button {
        margin-bottom: 451px;
    }
}